/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.no-js .nav-collapse {
  clear: left;
  @include mq($bp4){
    clear: none;
  }
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: $bp4) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}



/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

header {
  position: absolute;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
  // border-bottom: 2px solid #Fff;
  // box-shadow: inset 0 -1px 0 darken(#F0E3D2,5);
  
  background:#fff;
  @include mq($bp4){
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, transparent 85%);
    // background:#fff;
    background:rgba(#fff,.8);
  }
}

.no-js header {
  // position: static;
}

@-webkit-keyframes slideIn {
    from { 
      opacity: 0;
      -webkit-transform: translateY(-70px);
      
          }
      to {
      -webkit-transform: translateY(0);
        }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.js .sticky{
  position: fixed;
  background:#fff;
  border-bottom:1px solid $third-color;
  -webkit-animation: slideIn .5s;
}

.header--inner {
  @include mq($bp4){
    // padding-left:10px;
    // padding-right: 10px;
    // border-bottom: 4px solid $l-beige;
  }
  
}

.no-border {
  border-bottom: 0;
}


.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  float: left;
  img{
    height: 65px;  
    padding: 1em 0;
  }
  @include mq($bp3){
    padding: 0;

  }
  
}


/* ------------------------------------------
  MASK
--------------------------------------------- */

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  @include mq($bp4){
    display: none !important;
    opacity: 0 !important;
  }
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}



/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.nav-collapse,
.nav-collapse ul {
  width: 100%;
  display: block;
  @include mq($bp4){
    float: right;
    width: auto;
  }
}


.nav-collapse li {
  display: block;
  width: 100%;
  &:last-child a{
    // color:$primary-color;
  }
  @include mq($bp4){
    margin-left: 1em;

  }
  @include mq($bp4) {
    display: inline-block;
    width: auto;
  }
}


.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-top: 1px solid #ebebeb;
  text-decoration: none;
  font-size:12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1em 0.5em;
  // color: #ccc;
  width: 100%;
  display: block;
  line-height: 40px;
  &:hover {
    color:$primary-color;
  }
  @include mq($bp4){ 
    // padding: 0;
    padding: 1em 0;
    padding-left: .5em;
    text-align: center;
    border-top: 0;
    // border-right:1px solid black;
    margin: 0;
  }
  span {
    @include mq($bp4){
      // display: block;
    }
  }
}



.nav-collapse a:active,
.nav-collapse .active a {
  // background: #5d5d5d;
  color:$primary-color;
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */


.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 65px;
  height: 65px;
  float: right;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.nav-toggle.active {
  background:transparent;
}

.nav-toggle:before {
  content:'';
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  background-position:0 -40px;
  width: 30px;
  height: 30px;
}

.nav-toggle.active:before {
  background-position:-32px -37px;
}
