.section-kontakt {
	position: relative;
	
	
	background:#926E4A url(../images/bg-kontakt_small.jpg) right center no-repeat;
	background-size:cover;
	@include mq($bp2){
		background:#926E4A url(../images/bg-kontakt_medium.jpg) right bottom no-repeat;
		background-size:cover;
	}
	@include mq($bp4){
		background:#926E4A url(../images/bg-kontakt.jpg) center center no-repeat;
		background-size:cover;
	}


	.section-title {
		background:#C0A283;
		&:after {
			border-top-color:#C0A283;
		}
	}
}



.section-kontakt-text {
	padding:3em 0;
	position: relative;

	@include mq($bp2){
		width: 75%;
	}
	@include mq($bp3){
		// padding-top: 6em;
	}
	@include mq($bp4){
		width: 50%;
	}
	@include mq($bp5){
		padding:5em 2em 2em;
	}
	p {
		color:#fff;
		color:rgba(#fff,.90);
		margin-bottom: 0.5em;
	}
	p:first-child {
		font-size:18px;
		margin-bottom: 2em;
		// font-weight: 700;
		@include mq($bp4){
			font-size:22px;
		}
	}
}

.kontakt-list {
	color:#fff;
	
	// list-style: disc;
	margin-bottom: 3em;
	// padding-left: 1em;
	li {
		position: relative;	
		padding-left: 1em;
		margin-bottom: .5em;
		&:before{
			content:'';
			position: absolute;
			left: 0;
			top: 10px;
			width: 5px;
			height: 5px;		
			background:$text-color;
			border-radius:500px;	
			border-radius:50%;
		}
	}
	
		
}

.kontakt-by {
	background:rgba(#000,.2);
	// background:#8B6743;
	// margin-top: 3em;

	padding-top: 2em;
	padding-bottom: 2em;
	// text-align: center;
	li {
		
		color:#fff;
		display: inline-block;
		&:first-child {
			margin-right: 5em;
			margin-bottom: 1em;
			@include mq($bp2){
				margin-bottom: 0;
			}
		}
		a:hover {
			opacity:.7;
		}
	}
	li:before {
		content:'';
		width:50px;
		height: 50px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 1em;
	}
}

.section-kontakt-text .sign {
	font-family: $alt-font-family;
	font-weight: 700;
	font-size:18px;
	padding-top: .5em;
	
	color:$text-color;
	display: inline-block;
	border-top: 1px solid $text-color;
	@include mq($bp3){
		padding-right: 5em;
	}
}