.section-services {
	padding-bottom: 2em;
	position: relative;
	background:#F9F5EA;
	@include mq($bp5b){
		// background:#F9F5EA url(../images/bg-uslugi.jpg) center center no-repeat;
		background-size:cover;
	}
	.section-title {
		// background:#E5D3BB;
		background: linear-gradient(to bottom, tint(#EFE2D3,0) 0%,tint(#EFE2D3,20) 100%); /* W3C */
		// background:#EFE2D3;
		&:after {
			border-top-color:tint(#EFE2D3,20);
			// border-top-color:#EFE2D3;
		}
	}
}

.uslugi-container {
	margin:4em auto 0;
	@include mq($bp3){
		margin-top: 4em;
		margin-bottom: 4em;
	}
}

.uslugi-box-ct {	
	padding:5px;
	margin-bottom: 2em;
	@include mq($bp5b){
		float: left;
		width: 40%;
		margin-bottom: 0;
		&:first-child {
			width: 20%;
		}

	
	}
}

.highlighted {
	background:#fff;
}

@include mq($bp5b){
	.uslugi-container:hover .uslugi-box-ct:hover {
		background:#fff;
	}
	.uslugi-container:hover .highlighted {
		background:none;
	}
	.uslugi-container:hover .highlighted:hover {
		background:#fff;
	}
}


.uslugi-box {
	width: 100%;
	box-shadow:0 0 3px rgba(#000,.1);
	text-align: center;
}


.uslugi-box-ct:first-child {
	@include mq($bp5b) {
		// margin-left: auto;
		// margin-right: auto;
	}

}


.uslugi-box__headline {
	position: relative;
	border-bottom: 1px solid #F2EEE2;
	background:rgba(#fff,.5);
	&:before {
		content:attr(data-number);		
		position: absolute;
		width:34px;
		height: 34px;
		background:$primary-color;
		top:-17px;
		left:50%;
		margin-left: -17px;
		line-height: 34px;
		color:#fff;
		border-radius:500px;
		border-radius:50%;
		font-size:14px;
		font-weight: 700;
		box-shadow:0 2px 1px rgba(#000,.2);
	}
	h4 {
		padding: 1.75em 0 1em;
		display: block;
		font-family: $base-font-family;
		font-size:14px;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 0.01em;
		// color:$primary-color;
		// font-weight: 700;
		// font-size:18px;

	}	
}


.uslugi-box__body {
	padding:2em 1em;
	display: block;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	background:rgba(#f5f5f5,.5);
	
	position: relative;
	@include mq($bp5b){
		height:520px;
	}
	&:before {
		// content:'';
		// position: absolute;
		// width: 0;
		// height: 0;
		// border-style: solid;
		// border-width: 0 15px 15px 15px;
		// border-color: transparent transparent rgba(#fff,.7) transparent;
		// top:-15px;
		// left:50%;
		// margin-left: -15px;
	}
}



.list {
	max-width:600px;
	margin-left: auto;
	margin-right: auto;
	li{
		position: relative;
		padding-left: 14px;
		// margin-left: 1em;
		margin-bottom: 1em;
		// list-style: disc;
		&:last-child{
			margin-bottom: 0;
		}
		&:before{
			content:'';
			position: absolute;
			left: 0;
			top: 10px;
			width: 5px;
			height: 5px;		
			background:#BDBDBD;
			border-radius:500px;	
			border-radius:50%;
		}
	}
}

.list--uslugi {
	max-width:600px;
	margin-left: auto;
	margin-right: auto;
	li {
		padding:0 .5em;
		@include mq($bp3){
			float: left;
			width:33.3333%;
		}
		@include mq($bp5b){
			float: none;
			width: 100%;
			margin-bottom: 2em;

		}
	}
}

.li-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:81px;
	height: 81px;
	margin-bottom: .5em;
}


.li-text {
	display: block;
	text-align: center;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	font-size:14px;
	line-height: 1.2;
}