.section-proces {
	position: relative;
	background:#F9F5EA;
	@include mq($bp4){
		background: #F9F5EA url(../images/bg-proces.jpg) center center no-repeat;
		background-size:cover;
	}
	.section-title {
		position: relative;
		z-index: 1;
	}
}

.section-body {
	@include mq($bp4){
		padding:5em 0;	
	}
}


.js .tabs-wrap--proces {
	width: 100%;
	padding-top: 3em;
	padding-bottom: 2em;
	text-align: center;
	position: relative;
	z-index:1;
	
	@include mq($bp3) {
		width: 80%
	}
	@include mq($bp4){
		width: 100%;
		max-width:770px;
		padding: 120px 0;
	}
	@include mq($bp5b){
		margin-right: 0;
	}
}

.js .tab-proces {
	@include mq($bp4){
		position: absolute;
	}
}
.tab-proces {
	display: inline-block;
	&:last-of-type i{
		margin-right: 0;
	}
	span {
		display: none;
		@include mq($bp4){
			display: block;
			width: 200px;
			height: 50px;
			line-height: 46px;
			text-align: center;
			font-weight: 700;
			border:2px solid #555;
			text-transform: uppercase;
			font-size:14px;
			letter-spacing: 0.05em;
			color:#555;
		}
	}
}

.no-js .tab-proces {
	display: none;
}

.no-js .tab-content--proces {
	margin-left: auto;
	margin-right: auto;
}


.js .tab-proces i {
				font-style:normal;
				text-align: center;
				line-height: 40px;
				font-weight: 700;
				display: block;
				margin-right: 10px;
				position: relative;
				width: 44px;
				height: 44px;
				background:#F9F4ED;
				border:2px solid #555;
				border-radius:500px;
				border-radius:50%;
				color:#555;
				z-index:1;
				@include mq($bp2){
					margin-right: 20px;
				}
				@include mq($bp4){
					position: absolute;
				}
				&:after,
				&:before {
					content:'';
					position: absolute;
					height:0;
					width: 0;
					pointer-events: none;		
					left:50%;
					border-style:solid;
					transition:all .5s;
					bottom:-34px;
				}

				&:before {
					margin-left: -19px;
					border-width: 0 19px 16px 19px;
					border-color:  transparent;
				}

				&:after {
					margin-left: -15px;
					margin-bottom: -2px;
					border-width: 0 15px 12px 15px;
					border-color:  transparent;
				}
}

.tab-proces.active {
	span {
		background:$primary-color;
		color:#fff;
		border-color:$primary-color;
	}
	i {
		background:$primary-color;
		color:#fff;
		border-color:$primary-color;
		position: relative;
			&:before {
				border-bottom-color:#fff;
			}
			&:after {
				border-bottom-color:#F9F5EA;
			}
		@include mq($bp4){
			position: absolute;
			&:before,
			&:after {
				content:none;
			}
		}	
	}
}

.js .tabs-container--proces {
	padding:30px;
	margin-top:30px;
	position: relative;
	border-top: 4px solid #fff;
	border-bottom: 4px solid #fff;
	@include mq($bp4){
		background:#fff;
		border-top: 0;
		border-radius:50%;
		width: 480px !important;
		max-width:none;
		height: 480px !important;
		padding: 0;
		margin-top: 0;
		&:after {
			position: absolute;
			content:'';
			// background:darken(#F7EFE5,1);
			// border-radius:50%;
			// width:560px;

			//polowa
			width:280px;
			border-radius: 0 560px 560px 0;
			margin-left: 280px;
			background:darken(#F7EEE4,5);
			//
			height:560px;
			top: -40px;
			left: -40px;
			z-index:-1;
		}
	}
}

.tab-content--proces {
		width: 100%;
		padding:2em 1em;
		text-align: left;
	@include mq($bp4){
		padding: 0;
		width: 320px;
		// height: 300px;
		top: 80px;
		left: 50%;
		margin-left: -160px;
		text-align: center;
	}
}

.tab-content--proces,
.tab-content--pomoc {
	h4 {
		display: inline-block;
		padding-right: 1em;
		padding-bottom: .5em;
		border-bottom: 1px solid $third-color;
		margin-bottom: 1em;
		white-space: pre-wrap;
		color:$primary-color;
	}
	p {
		line-height: 1.8;
	}
}

.tab-content--proces {
	h4 {
		white-space:nowrap;
		@include mq($bp4){
			padding:0 .5em .2em;
		}
	}
}

.tab-proces:nth-of-type(1) {
	@include mq($bp4){
		left: 240px; //polowa containera kola
		margin-left: -100px;
		top: 0;
		i {
			left:50%;
			margin-left: -22px;
			bottom: -55px;
		}
	}
}

.tab-proces:nth-of-type(2) {	
	@include mq($bp4){
		right: 70px;
		top: 150px;
		i {
			left: -75px;
			top: 5px;
		}
	}
}	

.tab-proces:nth-of-type(3) {	
	@include mq($bp4){
		right: 0;
		top:50%;
		margin-top:-25px;
		i {
			left: -73px;
			top: 5px;
		}
	}
	
}	

.tab-proces:nth-of-type(4) {	
	@include mq($bp4){
		right: 70px;
		bottom:150px;
		i {
			left: -75px;
			top: 5px;

		}
	}	
}

.tab-proces:nth-of-type(5) {	
	@include mq($bp4){
		left: 240px; //polowa containera kola
		margin-left: -100px;
		bottom: 0;
		i {
			left:50%;
			margin-left: -22px;
			top: -55px;

		}
	}	
}
