.section-help {
  .section-body {
      padding:2em 0;  
    @include mq($bp4){
      padding:4em 0;
      max-width:900px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.tab {
  z-index:10;
}

.tabs-wrap--pomoc {
    display: table;
    width: 100%;
    z-index:1;
    @include mq($bp3){ 
      border-bottom:1px solid $third-color;  
      padding-top: 0;
      padding-bottom: 5em;
    }
    @include mq($bp4){
      padding:2em 1em 5em; 
      // border-top:1px solid $third-color;  
      // border-bottom:1px solid $third-color;  
    }
}

.tabs--pomoc {
    display: table;
    width: 100%;
    margin-bottom: 2em;
    border-bottom: 1px solid $third-color;
    padding-bottom: 1em;
  @include mq($bp4){ 
    border-bottom: none;
    padding-bottom: 0;
    display: table-cell;
    width: 300px;
    margin-bottom: 0;
   }
}

.tabs-container--pomoc {
  margin-left: auto;
  margin-right: auto;
  @include mq($bp3){
    width: 80%;
  }
  @include mq($bp4){
    display: table-cell;
    width: auto;
  }
}


.tab-drawer-heading {
  display: none;
}

.tab-drawer-heading.active {
  background:$primary-color;
  color:#fff;
}

.tabs--pomoc li {
  @include mq($bp3) {
    display: table-cell;
    vertical-align: middle;
    height: 65px;
    width:33.3333%;
    font-size:14px;
    text-align: center;
    padding:5px;
    color:#555;
    white-space:pre-wrap;
    text-transform: uppercase;
    a {
      display: table;
      border:1px solid darken(#FEFAF7,5);
      background:#FEFAF7;
      width: 100%;
      height: 100%; 
      span {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  @include mq($bp4){
    display: table;
    width: 250px;
    a {
      display: table-cell;
      vertical-align: middle;
      span {
        display: inline;
      }
    }
  }
}

.tabs--pomoc .active {
  background:$primary-color;
  border-color:$primary-color;
  color:#fff;
  position: relative;
}


@media screen and (max-width: $bp3) {
  .tabs--pomoc {
    display: none;
  }
  .tabs-container--pomoc {
    height: auto !important;
  }

  .tab-content--pomoc {
    overflow: hidden;
    p{
      padding:1em;
    }
  }

  .tab-content--pomoc h4 {
    display: none;
  }
  .tab-drawer-heading {
    position: relative;
    color: $primary-color;
    border-top: 2px solid $primary-color;
    font-size:14px;
    text-transform: uppercase;
    padding: 1em;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space:pre-wrap;
    text-align: center;
    &:last-of-type {
      border-bottom: 2px solid $primary-color;
    }
  }
  .tab-drawer-heading.active {
    &:before {
        content: '';
        position: absolute;
        bottom: -10px;
        border: solid transparent;
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-top-color: $primary-color;
        border-width: 10px 12px 0 12px;
        left: 50%;
        margin-left: -12px;
    }
  }
}