<section id="home" class="section section-info">
		<div class="ct">
				<div class="hero group">
						<div class="info-img">
								<img src="images/milena-face.jpg" alt="">
						</div>
						<div class="info-text">
							<h2 class="info-text-title">
								Mój tekst
								<span>Twój <span>zysk</span></span>
							</h2>
							<p>Nazywam się Milena&nbsp;Leszczyńska&#8209;Sowirka
i jestem <span class="highlight">web&nbsp;copywriterem.</span></p>
							<p>Tworzę teksty na strony internetowe które nie tylko informują czy dostarczają rozrywki, ale też intrygują, przekonują i sprzedają Twoje produkty i usługi. </p>
				    	</div>
				</div>	
		</div>
</section>
