<section id="section-education" class="section section-education">
	
		<div class="section-title">
			<div class="ct">
				<h3>Po co Ci copywriter?</h3>
				<span>czyli</span>
				<p>Dlaczego na stronach www najważniejsza jest treść?</p>
			</div>	
		</div>
	<div class="ct">
		<ul class="education-list">
			<li class="education-list-row">
				<div class="education-item ">
					<h4 class="spr-bef spr-slowa">Słowa sprzedają</h4>
					<p>Ludzie z reguły nie odwiedzają stron internetowych aby podziwiać ich wygląd. Nie skupiają się też na technologii. Elementy te są oczywiście bardzo ważne... ale&nbsp;Twoi potencjalni klienci odwiedzają strony z&nbsp;powodu treści. Design przyciąga uwagę, ale&nbsp;to&nbsp;słowa sprzedają.</p>
				</div>
				<div class="education-item">
					<h4 class="spr-bef spr-osobowosc">Twój biznes ma osobowość</h4>
					<p>Zbyt wiele firm stara sie ukryć swoją osobowość, aby wyglądać na bardziej profesjonalne. Ich przekaz staje się jednak suchy i nudny. Słowa również mogą mieć osobowość. Bądź o krok przed konkurencją - komunikuj się z ludźmi, nie z robotami.</p>
				</div>
			</li>	
			<li class="education-list-row">
				<div class="education-item">
					<h4 class="spr-bef spr-inwestycja">Twoja strona to inwestycja</h4>
					<p>Twoja strona internetowa jest cześcią Twojego procesu sprzedażowego. Oprócz ładnego ubrania, daj jej też coś do powiedzenia. Nadaj swojej firmie unikalny głos, który pomoże Ci zwiększyc sprzedaż i&nbsp;zdobyć klientów.</p>
				</div>
				<div class="education-item">
					<h4 class="spr-bef spr-rozmowa">Strona to rozmowa z klientem</h4>
					<p>Każda wizyta na Twojej stronie to rozmowa zapoczątkowana przez klienta. Odpowiedz na pytania odwiedzających poprzez prosty, przejrzysty i&nbsp;latwy do zrozumienia tekst.</p>
				</div>
			</li>	
		</ul>
	</div>
</section>