<section  id="section-services" class="section section-services">
	<div class="ct">
			<div class="section-title">
					<h3>Usługi</h3>
					<span>czyli</span>
					<p>W czym tak naprawdę mogę Ci pomóc?</p>
			</div>
			<div class="uslugi-container group">
					<div class="uslugi-box group">
						<div class="uslugi-box__headline">
								<h4>1. Tworzę</h4>
						</div>		
						<div class="uslugi-box__body">
							<ul class="list--uslugi group">
								<li class="li-item">
									<div class="li-img spr spr-strony"></div>
									<div class="li-text">
										<p>Teksty na strony internetowe, landing pages, blogi</p>
									</div>
								</li>
								<li class="li-item">
									<div class="li-img spr spr-newsletter"></div>
									<div class="li-text">
										<p>Teksty na newslettery, oferty sprzedażowe</p>
									</div>
								</li>
								<li class="li-item">
									<div class="li-img spr spr-slogan"></div>
									<div class="li-text">
										<p>Slogany i hasła reklamowe</p>
									</div>
								</li>
							</ul>	
						</div>
					</div>
					<div class="uslugi-box group">	
							<div class="uslugi-box__headline">
									<h4>2. By pomóc Ci</h4>
							</div>	
							<div class="uslugi-box__body">	
								<ul class="list">
									<li>zbudować markę której ludzie ufają</li>
									<li>zamienić odwiedzających w klientów</li>
									<li>wyróżnić się na tle konkurencji</li>
									<li>przekonać klientów do Twojego produktu lub usługi</li>
									<!-- <li>poprawić lub podkreślić wizerunek Twojej marki</li> -->
									<li>zarabiać więcej</li>
									
									
								</ul>
							</div>
						
					</div>
					<div class="uslugi-box group">
						<div class="uslugi-box__headline">
								<h4>3. Bo wiem jak</h4>
						</div>	
						<div class="uslugi-box__body">	
							<ul class="list">
								<li>zrozumieć Twój biznes i podkreślić największe korzyści Twojej oferty</li>
								<li>wczuć się w potrzeby Twoich klientów</li>
								<li>pokazać Twoim odbiorcom, że jesteś po ich stronie</li>
								<li>odpowiedzieć na pytania Twoich klientów poprzez przejrzysty i łatwy do zrozumienia tekst</li>
								<li>sprawić, że będziesz brzmiał wiarygodnie i profesjonalnie, ale wciąż przyjaźnie i dostępnie</li>
								<li>pokazać wartości i osobowość Twojego biznesu</li>
							</ul>
						</div>	
					</div>
			</div>
	</div>	
</section>