<section id="section-help" class="section section-help">
	<div class="ct">
		<div class="section-title">
			<h3>Komu mogę pomóc?</h3>
			<span>czyli</span>
			<p>Kto może skorzystać z moich usług?</p>
		</div>

		<div class="section-body">
			<div class="tabs-wrap tabs-wrap--pomoc" data-effeckt-type='slide-up'>		   
			    <ul class="tabs tabs--pomoc">
			      <li><a href="#tab-1" class="tab tab--pomoc"><span>Firmy</span></a></li>
			      <li><a href="#tab-2" class="tab tab--pomoc"><span>Agencje reklamowe
Agencje interaktywne</span></a></li>
			      <li><a href="#tab-3" class="tab tab--pomoc"><span>Web designerzy</span></a></li>
			    </ul>

			    <div class="tabs-container tabs-container--pomoc">
			      <a class="tab-drawer-heading" href="#tab-1">Firmy</a>
			      <div id="tab-1" class="tab-content tab-content--pomoc">
			        <h4>Firmy</h4>
				    <p>Tekst na Twojej stronie internetowej jest jak sprzedawca, sekretarka i rzecznik prasowy razem wzięci.</p>
				    <p>Współpracując ze mną zawsze otrzymasz niepowtarzalne teksty, dopasowane stylem do Twojej firmy. Wyznacz swojej stronie www nowe zadanie – niech będzie przyjacielem Twoich klientów i świetnym pracownikiem, który zarobi dla Ciebie dużo pieniędzy.</p>
			      </div>

			      <a class="tab-drawer-heading" href="#tab-2">Agencje reklamowe,
Agencje marketingowe</a>
			      <div id="tab-2" class="tab-content tab-content--pomoc">
			        <h4>Agencje reklamowe,
Agencje interaktywne</h4>
				    <p>Goniące terminy i nierzetelni podwykonawcy to Twój chleb powszedni? Współpracując ze mną nie musisz się o to martwić. Wyznaczony termin to dla mnie świętość. </p> 
				    <p>Zawsze na czas dostarczę Tobie dobry, unikatowy tekst – dokładnie taki, na jaki się umówimy. Twój klient będzie bardzo zadowolony z Twojej agencji.</p>
			      </div>

			      <a class="tab-drawer-heading" href="#tab-3">Web designerzy</a>
			      <div id="tab-3" class="tab-content tab-content--pomoc">
			        <h4>Web designerzy</h4>
				    <p>Nareszcie! Skończyłeś projekt strony www i dumny z design`u będziesz prezentował ją klientowi. Czas również poprosić klienta o tekst na stronę. I wtedy słyszysz: „tekst jeszcze nie jest gotowy”, „ja myślałem, że to pan napisze…” itd. Czasem jest też tak, że dostarczona treść nie współgra z Twoim projektem.</p>
				    <p>Wybrnij z tego szybko – zaproponuj klientowi moje usługi copywriterskie. Napiszę tekst idealnie dopasowany zarówno do Twojego projektu, jak i wymagań klienta.</p> 
				    <p>Dzięki współpracy ze mną wyróżnisz się w branży, oferując kompleksową usługę tworzenia stron internetowych wraz z treścią.</p>
			      </div>
			    </div>
			 </div>
		</div>
	</div>
</section>