<section id="section-proces" class="section-proces">	
	<div class="ct">
		<div class="section-title">
				<h3>Proces</h3>
				<span>czyli</span>
				<p>Jak wygląda współpraca ze mną?</p>
		</div>
		<div class="section-body">
			<div class="tabs-wrap tabs-wrap--proces" data-effeckt-type='scale'>
			
			      <a href="#tab-proces-1" class="tab tab-proces"><i>1</i><span>Pytam</span></a>
			      <a href="#tab-proces-2" class="tab tab-proces"><i>2</i><span>Proponuję</span></a>
			      <a href="#tab-proces-3" class="tab tab-proces"><i>3</i><span>Akceptujesz</span></a>
			      <a href="#tab-proces-4" class="tab tab-proces"><i>4</i><span>Piszę</span></a>
			      <a href="#tab-proces-5" class="tab tab-proces"><i>5</i><span>Gotowe</span></a>

				    <div class="tabs-container tabs-container--proces">				     
					      <div id="tab-proces-1" class="tab-content tab-content--proces">
					        <h4>1. Pytam</h4>
					        <p>Na poczatek poprosze cie o wypelnienie ankiety. Z niej dowiem sie wiecej o Twoim zleceniu i oczekiwaniach.</p>
					      </div>
					      <div id="tab-proces-2" class="tab-content tab-content--proces">
						    <h4>2. Proponuję</h4>
						    <p>Na podstawie Twoich odpowiedzi przygotuję wstepną propozycję. Znajdą się w niej: termin przygotowania, ogólny zarys pomysłu na tekst, forma rozliczenia i cena.</p>
					      </div>				      
					      <div id="tab-proces-3" class="tab-content tab-content--proces">
					      	<h4>3. Akceptujesz</h4>
					        <p>Na tym etapie ustalimy szczegóły zlecenia i&nbsp;podejmiemy decyzję o współpracy. Po obustronnym zaakceptowaniu planu pracy poproszę Cię o opłacenie zaliczki. Po jej otrzymaniu zaczynam pisać tekst.</p>
					      </div>
					      <div id="tab-proces-4" class="tab-content tab-content--proces">
					      	<h4>4. Piszę</h4>
					        <p>Na całym etapie pisania będziemy kontaktować się, jeśli pojawią się jakiekolwiek pytania lub dodatkowe dane do tekstu. Na 2 dni przed ustaloną datą prześlę Ci pierwszą wersję tekstu. Jeśli będziesz mieć uwagi, dokonam poprawek.</p>
					      </div>		      
					      <div id="tab-proces-5" class="tab-content tab-content--proces">
					      	<h4>5. Gotowe</h4>
					        <p>W dniu oddania otrzymasz ode mnie gotowy tekst, a ja od Ciebie zaplate. Na tekst udzielam 7-dniowej gwarancji, tzn. jeali w tym czasie poprosisz o poprawke, dokonam jej bez dodatkowych oplat. W cenie otrzymujesz zatem tekst + 2 korekty. Jesli w ciagu 7 dni nie zglosisz uwag bedzie to oznaczac akceptacje ostatecznej wersji tekstu.</p>
					      </div>		
				    </div>
			 </div>
		</div>
	</div>
</section>