<section id="section-klienci" class="section-klienci">
	<div class="ct">
		<div class="section-title">
				<h3>Klienci</h3>
				<span>czyli</span>
				<p>Z kim współpracowałam do tej pory?</p>
		</div>
		<ul class="clients">
			<li><span class="icon-clients icon-allevo"></span></li><!--
			--><li><span class="icon-clients icon-floslek"></span></li><!--
			--><li><span class="icon-clients icon-ergo"></span></li><!--
			--><li><span class="icon-clients icon-fit"></span></li><!--
			--><li><span class="icon-clients icon-gosp"></span></li><!--
			--><li><span class="icon-clients icon-dragon"></span></li>
		</ul>
	</div>	
</section>