<section id="section-kontakt" class="section-kontakt">
	
			<div class="section-title">
				<div class="ct">
					<h3>Kontakt</h3>
					<span>czyli</span>
					<p>Rozpocznijmy współpracę</p>
				</div>	
			</div>
	<div class="ct section-kontakt-body">
			<div class="section-kontakt-text">
				<p class="nomg">Bardzo się cieszę, że jesteś w tym miejscu!</p>
				<p >To znaczy, że zaciekawiła Cię moja oferta lub chcesz zadać pytanie – śmiało, zrób to właśnie teraz.</p>
				<p>Zapewniam Cię, że współpraca ze mną to same korzyści dla Ciebie i bardzo dobry wybór, bo:</p>
					<ul class="kontakt-list">
						<li>znam zasady, którymi rządzi się treść na stronach internetowych (a uwierz mi, że są inne niż w przypadku tekstów tradycyjnych)</li>
						<li>potrafię wczuć się w potrzeby Twoich odbiorców i napisać teksty idealnie do nich dobrane</li>
						<li>jestem rzetelnym, terminowym podwykonawcą i sympatyczną osobą z entuzjastycznym nastawieniem do pracy.</li>
					</ul>
				<p>Napisz zatem do mnie lub zadaj pytanie – nie mogę się doczekać, aby Ci odpisać!</p>
				
				<ul class="kontakt-by">
					<li class="spr-bef spr-mail">555-555-555</li>
					<li class="spr-bef spr-tel"><a href="mailto:milena@milush.pl">milena@milush.pl</a></li>
				</ul>
			</div>
	</div>
</section>