<section id="section-kontakt" class="section-kontakt">
	
	<div class="section-title triangle-down">
		<div class="ct">
			<h3>Kontakt</h3>
			<span>czyli</span>
			<p>Rozpocznijmy współpracę</p>
		</div>	
	</div>
	<div class="ct section-kontakt-body">
			<div class="section-kontakt-text">
				<p>Bardzo się cieszę, że jesteś w tym miejscu!
				</p>
				<p>Zapewniam Cię, że współpraca ze mną to same korzyści dla Ciebie i bardzo dobry wybór, bo:</p>
					<ul class="kontakt-list">
						<li>znam zasady, którymi rządzi się treść na stronach internetowych (a uwierz mi, że są inne niż w przypadku tekstów tradycyjnych)</li>
						<li>potrafię wczuć się w potrzeby Twoich odbiorców i napisać teksty idealnie do nich dobrane</li>
						<li>jestem rzetelnym, terminowym podwykonawcą i sympatyczną osobą z entuzjastycznym nastawieniem do pracy.</li>
					</ul>
				<p>Poniżej znajdziesz dane kontaktowe do mnie. <br> Zapraszam do współpracy.</p>	

				<p class="sign">Milena Leszczyńska-Sowirka</p>	
			</div>
	</div>
	<div class="kontakt-by">
		<ul class="ct">
			<li class="spr-bef spr-tel">513-587-575</li>
			<li class="spr-bef spr-mail"><a href="mailto:milena@milush.pl">milena@milush.pl</a></li>
		</ul>
	</div>	
</section>