<footer class="footer">
	<div class="ct">
		<ul class="footer-body">
			<li class="copy">&copy; 2014 MILUSH Wszelkie prawa zastrzeżone</li>
			<li class="by">Projekt i realizacja: <a href="#" class="spr spr-dearty" data-tooltip="dearty.com"></a></li>
		</ul>	
	</div>
</footer>