    <header>
      <div class="ct group">
        <div class="header--inner group">
          <a href="#home" class="logo scroll" ><img src="images/logo-milush.svg" alt="" onerror="this.onerror=null; this.src='/images/logo-milush.png'"></a>
          <nav class="nav-collapse" role="navigation">
            <ul>
              <li><a href="#section-services" >Usługi</a></li>
              <li><a href="#section-help" >Komu mogę pomóc</a></li>
              <li><a href="#section-proces" >Proces</a></li>
              <li><a href="#section-klienci"  >Klienci</a></li>
              <li><a href="#section-kontakt" >Kontakt</a></li>
            </ul>
          </nav>
        </div>  
      </div> 
    </header>