// @font-face {
//     font-family: 'BebasNeueRegular';
//     src: url('../fonts/BebasNeue.eot');
//     src: url('../fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/BebasNeue.woff') format('woff'),
//          url('basketb../fonts/BebasNeue.ttf') format('truetype');

//     font-weight: normal;
//     font-style: normal;

// }

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xGAzD5WKQVN4wSyA0MYYi4rr7w4p9aSvGirXi6XmeXNA.woff) format('woff');
}